[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSInteract"]
	path = FSInteract
	url = https://github.com/cran/FSInteract
[submodule "LassoBacktracking"]
	path = LassoBacktracking
	url = https://github.com/cran/LassoBacktracking
[submodule "RPtests"]
	path = RPtests
	url = https://github.com/cran/RPtests
